
#title{
    position: relative;
    top: 10px;
}
#subtitle{
    position: relative;
    top: -10px;
}
#logo{
    text-align: center;
}
#menu-bar {
    width: 100%;
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid lightgray;
}
main {
    width: 80%;
    margin: 10px auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    min-height: 100px;
    padding: 10px;
}